POSTGRES_USER=
POSTGRES_PASSWORD=
APP_USER=
APP_DB_PASSWORD=
POSTGRES_DB=
DATABASE_URL=
MIGRATE_DATABASE_URL=
SEED_EMAIL=""
SEED_PASSWORD=""
SEED_CLINIC_NAME=""
SEED_DOCTOR_NAME=""
SEED_ADMIN_NAME=""
COOKIE_SECURE=